.header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  text-align: center;
  .up {
    background-color: black;
    width: 100%;
    text-align: left;
    .logo {
      margin: 12px 150px;
      height: auto;
      width: 250px;
      background: transparent;
    }
  }
  .down {
    width: 100%;
    background-color: rgb(76.9, 14.5, 12.9);
    padding: 12px 0px;
    height: 50px;
    position: relative;
    i {
      position: absolute;
      top: 20%;
      width: 100px;
      img {
        width: 40%;
      }
    }
    input {
      padding-left: 100px;
      height: 80%;
      width: 80%;
      font-size: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    max-width: 100vw;
  }
}
