.list {
  width: 100%;
  .wrapper {
    padding: 0px;
    text-align: left;
    .label {
      padding: 10px 15px;
    }
    .content {
      .grid {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        max-width: 1385px;
        grid-gap: 0.5rem;
        width: 100%;
        padding-bottom: 50px;
      }
    }
    .empty {
      display: flex;
      justify-content: center;
      font-size: 50px;
      height: auto;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    max-width: 100vw;
  }
}
