.movies {
  width: 100%;
  .wrapper {
    padding: 0px;
    text-align: left;
    .grid {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      justify-items: center;
      gap: 60px;
    }

    .empty {
      display: flex;
      justify-content: center;
      font-size: 50px;
      height: auto;
    }
  }
}

/*
.pagination {
  padding-top: 30px;
  .page-item {
    padding: 0 10px;
    width: 50px;
    height: 50px;
    .page-link {
      width: 100%;
      padding: 0;
      height: 50px;
      border-color: white;
      border-radius: 50px;
      color: white;
      background-color: rgb(97, 15, 15);
    }
  }
  .active {
    .page-link {
      background-color: rgb(155 24 24);
    }
    .page-link:focus {
      z-index: 3;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
    }
  }

  .disabled {
    .page-link {
      background-color: rgb(49, 49, 49);
    }
  }
}

.page-item:first-child {
  background: url("../../resources/dreadful cherry tomatoes/icon/left-chevron@2x.png")
    no-repeat left center;
}

.page-item:last-child {
  background: url("../../resources/dreadful cherry tomatoes/icon/right-chevron@2x.png")
    no-repeat center;
}

.page-item:last-child,
.page-item:first-child {
  border-color: transparent;
  .page-link {
    color: transparent;
    border: none;
  }
  .page-link {
    background-color: rgba(0, 0, 0, 0);
  }
}
*,
::after,
::before {
  box-sizing: initial;
}
 */
