.movies {
  width: 100%;
  .wrapper {
    padding: 0px;
    text-align: left;
    .grid {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      justify-items: center;
      gap: 60px;
    }

    .empty {
      display: flex;
      justify-content: center;
      font-size: 50px;
      height: auto;
    }
  }
}
